<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.ebaebo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application android:label="@string/app_name"
                 android:name=".EbaeboApplication"
                 android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.ForgetPassOneActivity"></activity>
        <activity android:name=".ui.SettingActivity"/>
        <activity android:name=".ui.NotificationActivity"></activity>
        <activity android:name=".ui.PhotosActivity"></activity>
        <activity android:name=".ui.BabySettingActivity"></activity>
        <activity android:name=".ui.MumSettingActivity"></activity>

        <activity android:name=".ui.YuyingMessageActivity"/>
        <activity android:name=".ui.SchoolBusActivity"/>
        <activity android:name=".ui.JiaohuActivity"/>
        <activity android:name=".ui.DianmingActivity"/>
        <activity android:name=".ui.PictureActivity"/>
        <activity android:name=".ui.YuYiingDetailActivity"/>
        <activity android:name=".ui.SettingAboutActivity"/>
        <activity android:name=".ui.SettingPassword"/>
        <activity android:name=".ui.SettingEmailActivity"/>
        <activity android:name=".ui.SettingMobileActivity"/>
        <activity android:name=".ui.SelectIdentityActivity"/>
        <activity android:name=".ui.ForgetPassTwoActivity"/>
        <activity android:name=".ui.ForgetPassThreeActivity"/>
        <activity android:name=".ui.ForgetPassFourActivity"/>
        <activity android:name=".ui.TongxunluActivity"/>
        <activity android:name=".ui.CommentActivity"/>
        <activity android:name=".ui.SettingEmaillTwoActivity"/>
        <activity android:name=".ui.ChatActivity"/>
        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote" >
        </service>

        <activity android:name=".ui.PublishImageActivity"/>
        <activity android:name=".ui.PublishPhotoActivity"/>
        <activity android:name=".ui.PublishRecordActivity"/>
        <activity android:name=".ui.PublishVideoActivity"/>
    </application>
</manifest>
